<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="Suite" parallel="tests">
    <test name="TC1">
        <classes>
            <class name="TestCases.Test.TC1"/>
        </classes>
    </test> <!-- TC1 -->
    <test name="TC2">
        <classes>
            <class name="TestCases.Test.TC2"/>
        </classes>
    </test> <!-- TC2 -->
    <test name="TC3">
        <classes>
            <class name="TestCases.Test.TC3"/>
        </classes>
    </test> <!-- TC3 -->
</suite> <!-- Suite -->